# Sqlite 3 Tutorial

Sqlite3 is a file based database. Unlike a database server, it does not require much configuration, but at the same time, it must reside on the local file system and cannot be accessed across the network.

In [1]:
import sqlite3 as lite
import sys

conn = None

try:
    conn = lite.connect('test.db')
    cur = conn.cursor()
    cur.execute('SELECT SQLITE_VERSION()')
    data = cur.fetchone()
    print "Sqlite version", data
except lite.Error, e:
        print "Error:", e.args[0]
        sys.exit(1)
finally:
    if conn:
        conn.close()

Sqlite version (u'3.6.21',)

In [2]:
conn = lite.connect('test.db')
with conn:
    cur = conn.cursor()
    cur.execute("CREATE TABLE Users(Id INT, Name TEXT)")
    cur.execute("INSERT INTO Users VALUES(1, 'Michelle')")
    cur.execute("INSERT INTO Users VALUES(2, 'Sonya')")
    cur.execute("INSERT INTO Users VALUES(3, 'Greg')")

In [5]:
cur.execute("SELECT * FROM Users")
rows = cur.fetchall()
for row in rows:
    print row

(1, u'Michelle')
(2, u'Sonya')
(3, u'Greg')

In [8]:
with conn:
    
    cur = conn.cursor()    

    cur.execute("CREATE TABLE Jobs(Id INT, Uid INT, Profession TEXT)")
    cur.execute("INSERT INTO Jobs VALUES(1,1,'Scientist')")
    cur.execute("INSERT INTO Jobs VALUES(2,2,'Marketeer')")
    cur.execute("INSERT INTO Jobs VALUES(3,3,'Developer')")

In [9]:
with conn:    
    
    cur = conn.cursor()    
    cur.execute("SELECT users.name, jobs.profession FROM jobs INNER JOIN users ON users.ID = jobs.uid")

    rows = cur.fetchall()

    for row in rows:
        print row

(u'Michelle', u'Scientist')
(u'Sonya', u'Marketeer')
(u'Greg', u'Developer')