# Date and Time
Date and time manipulation is provided by a built-in Python module datetime. This chapter assumes that datetime has been imported using import datetime as dt.

In [5]:
from __future__ import print_function, division
import datetime as dt

yy, mm, dd = 2014, 3, 8
d = dt.date(yy, mm, dd)
print(d)

2014-03-08

In [10]:
h, m, s, ms = 12, 26, 36, 10
t = dt.time(h, m, s, ms)
print(t)

12:26:36.000010

In [11]:
d1 = dt.datetime(yy, mm, dd, h, m, s, ms)
print(d1)

2014-03-08 12:26:36.000010

In [12]:
d2 = dt.datetime(yy+1, mm, dd, h, m, s, ms)
print(d2)
print(d2 - d1)

2015-03-08 12:26:36.000010
365 days, 0:00:00

In [13]:
d3 = d2 + dt.timedelta(30, 0, 0)
print(d2, d3)

2015-03-08 12:26:36.000010 2015-04-07 12:26:36.000010

In [14]:
d4 = dt.datetime(2014, 3, 8) + dt.timedelta(30, 12, 0)
print(d4)

2014-04-07 00:00:12

In [15]:
from datetime import date
d = date.today()
yy, mm, dd = d.year, d.month, d.day
print dd, mm, yy

SyntaxError: invalid syntax (<ipython-input-15-4d49016f4b3a>, line 4)

In [ ]:

from datetime import date, time, timedelta
start = dt.date(2015,2,9)
end = dt.date(2015,6,1)
print(start)
print(end)
print(end - start)

In [ ]:
d = timedelta(days=7)
print(start+d)

In [ ]:
csrc512 = [(1, time(9,0,0)), (2, time(8,0,0)), (3, time(8,0,0)), (4,time(11,15,0))]
csrc512_date = []
print(csrc512)

In [30]:
from datetime import *
from dateutil.relativedelta import *

def get_working_days(s1, s2, c, holidays):
    d = []
    while s1 <= s2:
        for x in c:
            ss = s1 + relativedelta(weekday=x)
            if ss <= s2:
                if ss not in holidays:
                    d.append(ss)
                    print(ss, end="   ")
            else:
                break
        s1 = s1 + relativedelta(days=7)
        print()
    return d

s1 = date(2015,2,9)
s2 = date(2015,6,1)
print('From:', s1, 'to:', s2)
print()

holidays = [date(2015,2,17), date(2015,3,21), date(2015,3,23), date(2015,3,24), date(2015,3,25)]
holidays += [date(2015,4,2), date(2015,4,3), date(2015,4,4), date(2015,4,14), date(2015,4,21)]
holidays += [date(2015,5,1), date(2015,5,14), date(2015,5,15), date(2015,5,16)]

csrc512 = [TU, WE, TH, FR]
d = get_working_days(s1, s2, csrc512, holidays)
print(len(d))
print(d)

From: 2015-02-09 to: 2015-06-01

2015-02-10   2015-02-11   2015-02-12   2015-02-13
2015-02-18   2015-02-19   2015-02-20
2015-02-24   2015-02-25   2015-02-26   2015-02-27
2015-03-03   2015-03-04   2015-03-05   2015-03-06
2015-03-10   2015-03-11   2015-03-12   2015-03-13
2015-03-17   2015-03-18   2015-03-19   2015-03-20
2015-03-26   2015-03-27
2015-03-31   2015-04-01
2015-04-07   2015-04-08   2015-04-09   2015-04-10
2015-04-15   2015-04-16   2015-04-17
2015-04-22   2015-04-23   2015-04-24
2015-04-28   2015-04-29   2015-04-30
2015-05-05   2015-05-06   2015-05-07   2015-05-08
2015-05-12   2015-05-13
2015-05-19   2015-05-20   2015-05-21   2015-05-22
2015-05-26   2015-05-27   2015-05-28   2015-05-29

54
[datetime.date(2015, 2, 10), datetime.date(2015, 2, 11), datetime.date(2015, 2, 12), datetime.date(2015, 2, 13), datetime.date(2015, 2, 18), datetime.date(2015, 2, 19), datetime.date(2015, 2, 20), datetime.date(2015, 2, 24), datetime.date(2015, 2, 25), datetime.date(2015, 2, 26), datetime.date(2015, 2, 27), datetime.date(2015, 3, 3), datetime.date(2015, 3, 4), datetime.date(2015, 3, 5), datetime.date(2015, 3, 6), datetime.date(2015, 3, 10), datetime.date(2015, 3, 11), datetime.date(2015, 3, 12), datetime.date(2015, 3, 13), datetime.date(2015, 3, 17), datetime.date(2015, 3, 18), datetime.date(2015, 3, 19), datetime.date(2015, 3, 20), datetime.date(2015, 3, 26), datetime.date(2015, 3, 27), datetime.date(2015, 3, 31), datetime.date(2015, 4, 1), datetime.date(2015, 4, 7), datetime.date(2015, 4, 8), datetime.date(2015, 4, 9), datetime.date(2015, 4, 10), datetime.date(2015, 4, 15), datetime.date(2015, 4, 16), datetime.date(2015, 4, 17), datetime.date(2015, 4, 22), datetime.date(2015, 4, 23), datetime.date(2015, 4, 24), datetime.date(2015, 4, 28), datetime.date(2015, 4, 29), datetime.date(2015, 4, 30), datetime.date(2015, 5, 5), datetime.date(2015, 5, 6), datetime.date(2015, 5, 7), datetime.date(2015, 5, 8), datetime.date(2015, 5, 12), datetime.date(2015, 5, 13), datetime.date(2015, 5, 19), datetime.date(2015, 5, 20), datetime.date(2015, 5, 21), datetime.date(2015, 5, 22), datetime.date(2015, 5, 26), datetime.date(2015, 5, 27), datetime.date(2015, 5, 28), datetime.date(2015, 5, 29)]

In [27]:
print(date(2015,2,9) + relativedelta(weekday=MO(-1)))

2015-02-09

In [31]:
csre503 = [TU, TH, FR, SA]
d = get_working_days(s1, s2, csre503, holidays)
print(len(d))
print(d)

2015-02-10   2015-02-12   2015-02-13   2015-02-14
2015-02-19   2015-02-20   2015-02-21
2015-02-24   2015-02-26   2015-02-27   2015-02-28
2015-03-03   2015-03-05   2015-03-06   2015-03-07
2015-03-10   2015-03-12   2015-03-13   2015-03-14
2015-03-17   2015-03-19   2015-03-20
2015-03-26   2015-03-27   2015-03-28
2015-03-31
2015-04-07   2015-04-09   2015-04-10   2015-04-11
2015-04-16   2015-04-17   2015-04-18
2015-04-23   2015-04-24   2015-04-25
2015-04-28   2015-04-30   2015-05-02
2015-05-05   2015-05-07   2015-05-08   2015-05-09
2015-05-12
2015-05-19   2015-05-21   2015-05-22   2015-05-23
2015-05-26   2015-05-28   2015-05-29   2015-05-30

52
[datetime.date(2015, 2, 10), datetime.date(2015, 2, 12), datetime.date(2015, 2, 13), datetime.date(2015, 2, 14), datetime.date(2015, 2, 19), datetime.date(2015, 2, 20), datetime.date(2015, 2, 21), datetime.date(2015, 2, 24), datetime.date(2015, 2, 26), datetime.date(2015, 2, 27), datetime.date(2015, 2, 28), datetime.date(2015, 3, 3), datetime.date(2015, 3, 5), datetime.date(2015, 3, 6), datetime.date(2015, 3, 7), datetime.date(2015, 3, 10), datetime.date(2015, 3, 12), datetime.date(2015, 3, 13), datetime.date(2015, 3, 14), datetime.date(2015, 3, 17), datetime.date(2015, 3, 19), datetime.date(2015, 3, 20), datetime.date(2015, 3, 26), datetime.date(2015, 3, 27), datetime.date(2015, 3, 28), datetime.date(2015, 3, 31), datetime.date(2015, 4, 7), datetime.date(2015, 4, 9), datetime.date(2015, 4, 10), datetime.date(2015, 4, 11), datetime.date(2015, 4, 16), datetime.date(2015, 4, 17), datetime.date(2015, 4, 18), datetime.date(2015, 4, 23), datetime.date(2015, 4, 24), datetime.date(2015, 4, 25), datetime.date(2015, 4, 28), datetime.date(2015, 4, 30), datetime.date(2015, 5, 2), datetime.date(2015, 5, 5), datetime.date(2015, 5, 7), datetime.date(2015, 5, 8), datetime.date(2015, 5, 9), datetime.date(2015, 5, 12), datetime.date(2015, 5, 19), datetime.date(2015, 5, 21), datetime.date(2015, 5, 22), datetime.date(2015, 5, 23), datetime.date(2015, 5, 26), datetime.date(2015, 5, 28), datetime.date(2015, 5, 29), datetime.date(2015, 5, 30)]

In [2]:
import time

ticks = time.time()
print("Ticks since 12:00am Jan 1, 1970:", ticks)

('Ticks since 12:00am Jan 1, 1970:', 1460286812.467)

In [6]:
localtime = time.localtime()
print(type(localtime), "Local time:", localtime)
localtime = time.asctime(time.localtime(time.time()))
print("Localtime:", localtime)

<type 'time.struct_time'> Local time: time.struct_time(tm_year=2016, tm_mon=4, tm_mday=10, tm_hour=16, tm_min=45, tm_sec=7, tm_wday=6, tm_yday=101, tm_isdst=0)
Localtime: Sun Apr 10 16:45:07 2016

In [7]:
import calendar

cal = calendar.month(2015, 2)
print(cal)

   February 2015
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28

In [8]:
print(time.asctime(time.localtime(time.time())))

Sun Apr 10 16:45:50 2016

In [12]:
print(calendar.isleap(2014))
print(calendar.isleap(2016))

False
True

In [13]:
print(calendar.weekday(2015,2,15))

6